

@helper LinkButton(string id = "", string url = "", string color = "", string addtionalClass = "", string title = "", string icon = "", string text = "")
{
    <a href="@url" id="@id" name="@id" class="btn btn-@color @addtionalClass" title="@title"><i class="fa fa-@icon"></i> @text</a>
}


@helper LinkButton(string url = "", string color = "", string addtionalClass = "", string title = "", string icon = "", string text = "")
{
    <a href="@url" class="btn btn-@color @addtionalClass" title="@title"><i class="fa fa-@icon"></i> @text</a>
}

@helper Button(string id = "", string type = "button", string color = "", string addtionalClass = "", string icon = "", string text = "")
{
    <button id="@id" name="@id" type="@type" class="btn btn-@color @addtionalClass">
        <i class="fa fa-@icon"></i> @text
    </button>
}

@helper Button(string type = "button", string color = "", string addtionalClass = "", string icon = "", string text = "")
{
    <button type="@type" class="btn btn-@color @addtionalClass">
        <i class="fa fa-@icon"></i> @text
    </button>
}


@helper LinkMenu(string cssClass = "", string url = "", string icon = "", string text = "")
{
    <a class="@cssClass" href="@url"><i class="fa fa-@icon"></i> @text</a>
}


@helper ModalPopup(string id = "myModal", string title = "Modal Title", bool showCloseButton = true)
{
    //Modal
    <div class="modal fade" id="@id" name="@id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" id="@(id +"_header")">
                    <h5 class="modal-title" id="exampleModalLongTitle">@title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="@(id +"_body")">

                </div>
                <div class="modal-footer" id="@(id +"_footer")">
                    @if (showCloseButton)
                    {
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    }
                </div>
            </div>
        </div>
    </div>
}