@model MyEvernote.Entities.Category

@{
    ViewBag.Title = "Kategori Detay";
}


<div class="container">

    <div class="row">
        <div class="col-md-12 mt-5 mb-3">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>

    <div class="jumbotron">

        <div class="row">

            <div class="col-sm-12">

                <div class="form-group row">
                    <div class="col-md-2">
                        <b>
                            @Html.DisplayNameFor(model => model.Title)
                        </b>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Title)
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <b>
                            @Html.DisplayNameFor(model => model.Description)
                        </b>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <b>
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </b>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.CreatedOn)
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <b>
                            @Html.DisplayNameFor(model => model.ModifiedOn)
                        </b>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <b>
                            @Html.DisplayNameFor(model => model.ModifiedUsername)
                        </b>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.ModifiedUsername)
                    </div>
                </div>

                <div class="form-group row justify-content-end">

                    @Bootstrap.LinkButton("/Category/Edit/" + @Model.Id, "warning", String.Empty, String.Empty, "edit", "Düzenle")
                    @Bootstrap.LinkButton("/Category/Index", "dark", "mx-3", String.Empty, "reply", "Geri Dön")

                </div>

            </div>

        </div>

    </div>

</div>

