
@model IEnumerable<MyEvernote.Entities.Category>

@{
    ViewBag.Title = "Kategoriler";
}

<div class="container">

    <div class="row">
        <div class="col-md-12 mt-5 mb-3">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>

    <div class="form-group row justify-content-end">
        <a href="/Category/Create" class="btn btn-primary mx-3"><i class="fa fa-plus-circle"></i> Kategori Ekle</a>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedUsername)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedUsername)
                </td>
                <td>
                    @Bootstrap.LinkButton("/Category/Edit/" + item.Id, "warning", "btn-sm", "Düzenle", "edit", String.Empty)
                    @Bootstrap.LinkButton("/Category/Details/" + item.Id, "info", "btn-sm", "Detay", "search", String.Empty)
                    @Bootstrap.LinkButton("/Category/Delete/" + item.Id, "danger", "btn-sm", "Sil", "trash", String.Empty)

                    @*
                        <a href="/Category/Edit/@item.Id" class="btn btn-warning btn-sm" title="Düzenle"><i class="fa fa-edit"></i></a>
                        <a href="/Category/Details/@item.Id" class="btn btn-info btn-sm" title="Detay"><i class="fa fa-search"></i></a>
                        <a href="/Category/Delete/@item.Id" class="btn btn-danger btn-sm" title="Sil"><i class="fa fa-trash"></i></a>
                    *@
                </td>
            </tr>
        }

    </table>

</div>


