
@using MyEvernote.Entities;
@using MyEvernote.WebApp.Models;

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/myEvernote.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">My Evernote</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <!-- Sol Menü -->
                <ul class="navbar-nav">

                    @if (CurrentSession.User != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cogs"></i>
                                Yönetim
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                @Bootstrap.LinkMenu("dropdown-item", "/Note/Create", "plus-circle", "Not Ekle")

                                <div class="dropdown-divider"></div>
                                @Bootstrap.LinkMenu("dropdown-item", "/Note/Index", "th-list", "Notlarım")
                                @Bootstrap.LinkMenu("dropdown-item", "/Note/MyLikedNotes", "heart", "Beğendiklerim")

                                @if (CurrentSession.User.IsAdmin)
                                {
                                    <div class="dropdown-divider"></div>
                                    @Bootstrap.LinkMenu("dropdown-item", "/Category/Create", "plus-circle", "Kategori Ekle")
                                    @Bootstrap.LinkMenu("dropdown-item", "/Category/Index", "th-list", "Kategoriler")

                                    <div class="dropdown-divider"></div>
                                    @Bootstrap.LinkMenu("dropdown-item", "/EvernoteUser/Create", "plus-circle", "Kullanıcı Ekle")
                                    @Bootstrap.LinkMenu("dropdown-item", "/EvernoteUser/Index", "th-list", "Kullanıcılar")
                                }

                            </div>
                        </li>
                    }
                    <li class="nav-item">
                        @Bootstrap.LinkMenu("nav-link", "/Home/MostLiked", "heart", "En Beğenilenler")
                    </li>
                    <li class="nav-item">
                        @Bootstrap.LinkMenu("nav-link", "/Home/Index", "list", "Son Yazılar")
                    </li>
                    <li class="nav-item">
                        @Bootstrap.LinkMenu("nav-link", "/Home/About", "info-circle", "Hakkımızda")
                    </li>
                </ul>


                <!-- Sağ Menü -->
                <ul class="navbar-nav ml-auto">

                    @if (CurrentSession.User == null)
                    {
                        <li class="nav-item">
                            @Bootstrap.LinkMenu("nav-link", "/Home/Login", "sign-in", "Giriş")
                        </li>
                        <li class="nav-item">
                            @Bootstrap.LinkMenu("nav-link", "/Home/Register", "user-plus", "Üye Ol")
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i> @CurrentSession.User.Username
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                @Bootstrap.LinkMenu("dropdown-item", "/Home/ShowProfile", "user", "Profilim")

                                <div class="dropdown-divider"></div>
                                @Bootstrap.LinkMenu("dropdown-item", "/Home/EditProfile", "edit", "Düzenle")
                                @Bootstrap.LinkMenu("dropdown-item", "/Home/ChangePass", "key", "Şifre Değiştir")

                                <a class="dropdown-item" href="/Home/DeleteProfile" onclick="return confirm('Hesabınızı Silmek İstediğinize Emin Misiniz?')">
                                    <i class="fa fa-trash-o"></i> Sil
                                </a>

                            </div>
                        </li>


                        <li class="nav-item">
                            @Bootstrap.LinkMenu("nav-link", "/Home/Logout", "sign-out", "Çıkış")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()


    <!-- Footer -->
    @RenderSection("footer", false)

    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@

    @RenderSection("myScript", false)

</body>
</html>
