
@using MyEvernote.Entities;
@model EvernoteUser

@{
    ViewBag.Title = "Profilim";
}

<div class="container">

    <div class="row">
        <div class="col-md-12 mt-5 mb-3">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>

    <div class="jumbotron">

        <div class="row">

            <div class="col-md-4">
                <img src="~/Images/Users/@Model.ProfileImageFileName" class="img-thumbnail" />
            </div>

            <div class="col-md-8 mt-3 mt-md-0 mt-lg-0">
                <h3>@(Model.Name + " " + Model.Surname)</h3> <br />

                <h5><b>@Html.DisplayNameFor(m => m.Username) : </b>@Model.Username</h5>
                <h5><b>@Html.DisplayNameFor(m => m.Email) : </b>@Model.Email</h5> <br />

                <h6> <a href="#">daha fazlası...</a></h6>
            </div>

        </div>

    </div>

    <br /><br /><br />

</div>

